@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import 'variables.scss';

html,
body {
    padding: 0;
    margin: 0;
    background-color: $background;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: $white ;
}

//layout
.flex {
    display: flex;

    &-center {
        justify-content: center;
        align-items: center;
    }
}