//colors
$white: #ffff;
$primaryColor: #1ED760;
$black: #000000;
$grey-70: #FFFFFFb3;
$grey-30: #FFFFFF4D;

$grey-20: #FFFFFF33;
$grey-10: #FFFFFF23;


//fondos
$background: $black;
$background-components: #212121;